#title {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 48px;
  -fx-fill: #035aa6;
}

#subTitle {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 14px;
  -fx-fill: #05aff2;
}

.root {
  -fx-font-family: 'BM EULJIRO';
}

#username {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 15px;
}

#text1 {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 24px;
  -fx-fill: #035aa6;
}

#text2 {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 15px;
  -fx-fill: #035aa6;
}

#empNo {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 18px;
}

#tName {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 18px;
}


.exit-button {
  -fx-background-color: transparent;
}

.update-button {
  -fx-font-family: 'BM EULJIRO';
  -fx-background-color: #035AA6;
  -fx-text-fill: WHITE;
}