.root {
  -fx-font-family: 'BM EULJIRO';
}

.left-pane {
  -fx-background-color: #364959;
}

.center-pane {
  -fx-background-color: #FFFFFF;
}

.top-pane {
  -fx-background-color: #F2F2F2;
}

.center-inner-pane {
  -fx-background-color: #FFFFFF;
}

.title {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 48px;
  -fx-fill: #035aa6;
}

.subtitle {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 14px;
  -fx-fill: #05aff2;
}

.user-name-link {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 15px;
  -fx-border-width: 0;
  -fx-text-fill: WHITE;
}

.user-info-text {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 15px;
  -fx-fill: #f2f0d5;
}

#goHome {
  -fx-font-family: 'BM EULJIRO';
}

#empNo {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 18px;
}

#dtName {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 13px;
}

.home-button {
  -fx-background-color: transparent;
}

.exit-button {
  -fx-background-color: transparent;
}

.side-button {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 18px;
  -fx-text-fill: #FFFFFF;
}

.update-button {
  -fx-font-family: 'BM EULJIRO';
  -fx-background-color: #035AA6;
  -fx-text-fill: WHITE;
}

.request-Field {
  -fx-font-family: 'BM EULJIRO';
  -fx-font-size: 20px;
  -fx-fill: #035aa6;

}

.pw-Field {
  -fx-background-color: transparent;
  -fx-border-width: 0px 0px 2px 0px;
  -fx-border-color: #05AFF2;
  -fx-font-size: 15px;
}

.line {
  -fx-stroke: #f6c5a1;
  -fx-stroke-width: 2;
}
